
{% extends 'base.twig' %}

{% block body %}
	<h1>Reset Password</h1>
	
	<ul>
		<li>session status: {% if session('status') %}{{ session('status') }}{% else %}N/A{% endif %} </li>
		<li>errors: {{ errors | length }}
			{% if errors | length %}
				<ul>
					{% for error in errors.all %}
					    <li> {{ error }} </li>
					{% endfor %}
				</ul>
			{% else %}
				No errors.
			{% endif %}
		</li>
	</ul>
	
	<form method="POST" action="{{ url('/password/email') }}">
		<input type="hidden" name="_token" value="{{ csrf_token() }}">
		
		<ul>
			<li><label>E-Mail Address: <input type="email" name="email" value="{{ input_old('email') }}"></label></li>
			<li><button type="submit">Send Password Reset Link</button></li>
		</ul>
		
	</form>
	
{% endblock %}
