
{% extends 'base.twig' %}

{% block title %}Home - {% endblock %}

{% block body %}
	
	<h2>Newest Persons</h2>
	<table border="1" cellspacing="1" cellpadding="1">
		{% for person in newestPersons %}
			<tr>
				<td class="content">{{ person.id }}</td>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td>{{ person.created_at | date('Y-m-d H:i:s') }}</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
	</table>
	
	<h2>Latest Edit Persons</h2>
	<table border="1" cellspacing="1" cellpadding="1">
		{% for person in lastestEditPersons %}
			<tr>
				<td class="content">{{ person.id }}</td>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td>{{ person.updated_at | date('Y-m-d H:i:s') }}</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
	</table>
	
	<h2>Upcoming Birthdays</h2>
	<table border="1" cellspacing="1" cellpadding="1">
		<tr><td colspan="7"><b>All</b></td></tr>
		{% for person in upcomingBirthdaysAllPersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.birthday | date('Y-m-d') }}</td>
				<td align="right">{{ person.age }} years</td>
				<td align="right" bgcolor="{{ person.diff_color }}">{{ person.diff }}</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
		<tr><td colspan="7"><b>Alive</b></td></tr>
		{% for person in upcomingBirthdaysAlivePersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.birthday | date('Y-m-d') }}</td>
				<td align="right">{{ person.age }} years</td>
				<td align="right" bgcolor="{{ person.diff_color }}">{{ person.diff }}</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
	</table>
	
	<h2>Upcoming Minor First Met Anniversaries</h2>
	<table border="1" cellspacing="1" cellpadding="1">
		{% for person in upcomingMinorFirstMetPersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.first_met_at | date('Y-m-d') }}</td>
				<td align="right">{{ person.years }} years</td>
				<td align="right" bgcolor="{{ person.diff_color }}">{{ person.diff }}</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
	</table>
	
	<h2>Upcoming Major First Met Anniversaries</h2>
	<table border="1" cellspacing="1" cellpadding="1">
		{% for person in upcomingMajorFirstMetPersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.first_met_at | date('Y-m-d') }}</td>
				<td align="right">{{ person.years }} years</td>
				<td align="right" bgcolor="{{ person.diff_color }}">{{ person.diff }}</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
	</table>
	
	<h2>Youngest Persons</h2>
	<table border="1" cellspacing="1" cellpadding="1">
		<tr><td colspan="6"><b>All</b></td></tr>
		{% for person in youngestAllPersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.birthday | date('Y-m-d') }}</td>
				<td align="right">{{ person.age }} years</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
		<tr><td colspan="6"><b>Alive</b></td></tr>
		{% for person in youngestAlivePersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.birthday | date('Y-m-d') }}</td>
				<td align="right">{{ person.age }} years</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
	</table>
	
	<p> {{ sql }} </p>
	
	<h2>Oldest Persons</h2>
	<table border="1" cellspacing="1" cellpadding="1">
		<tr><td colspan="6"><b>All</b></td></tr>
		{% for person in oldestAllPersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.birthday | date('Y-m-d') }}</td>
				<td align="right">{{ person.age }} years</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
		<tr><td colspan="6"><b>Alive</b></td></tr>
		{% for person in oldestAlivePersons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.birthday | date('Y-m-d') }}</td>
				<td align="right">{{ person.age }} years</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td>No Persons.</td></tr>
		{% endfor %}
	</table>
	
{% endblock %}
