
{% extends 'base.twig' %}

{% block title %}Edit "{% if person.name %}{{ person.name }}{% else %}{{ person.last_name }} {{ person.first_name }}{% endif %}" - {% endblock %}

{% block body %}
	
	<h2>Edit "{% if person.name %}{{ person.name }}{% else %}{{ person.last_name }} {{ person.first_name }}{% endif %}"</h2>
	
	{% include 'errors.form-list.twig' %}
	
	{% include 'person.fields.twig' with {'route': route('person.update', person.id)} %}
	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('input[type=text]:first').focus();
	});
{% endblock %}
