
<form action="{{ route }}" method="post">
	<input type="hidden" name="_token" value="{{ csrf_token() }}">
	
	<table border="1" cellspacing="1" cellpadding="1">
		{% if not isCreate %}
			<tr><td colspan="2">[<a href="{{ route('person.show', person.id) }}">show</a>] [<a href="{{ route('person.delete', person.id) }}">delete</a>]</td></tr>
		{% endif %}
		
		<tr><td colspan="2"><input type="submit" value="Save" class="submit"></td></tr>
		
		<tr>
			<td valign="top" class="firstColumn">Last Name</td>
			<td valign="top"><input type="text" name="last_name" value="{{ person.last_name }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">Birth Last Name</td>
			<td valign="top"><input type="text" name="last_name_born" value="{{ person.last_name_born }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">Middle Name</td>
			<td valign="top"><input type="text" name="middle_name" value="{{ person.middle_name }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">First Name</td>
			<td valign="top"><input type="text" name="first_name" value="{{ person.first_name }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">Nick Name</td>
			<td valign="top"><input type="text" name="nick_name" value="{{ person.nick_name }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">Gender</td>
			<td valign="top">
				<select name="gender">
					<option value="n">--- None ---</option>
					<option value="m"{% if person.gender == 'm' %} selected="selected"{% endif %}>&#9794; Male</option>
					<option value="f"{% if person.gender == 'f' %} selected="selected"{% endif %}>&#9792; Female</option>
				</select>
			</td>
		</tr>
		<tr>
			<td valign="top">Birthday</td>
			{% if person.birthday %}
				<td valign="top"><input type="text" name="birthday_year" value="{{ person.birthday | date('Y') }}" size="4" maxlength="4">-<input type="text" name="birthday_month" value="{{ person.birthday | date('m') }}" size="2" maxlength="2">-<input type="text" name="birthday_day" value="{{ person.birthday | date('d') }}" size="2" maxlength="2"> <input type="text" name="birthday_hour" value="{{ person.birthday | date('H') }}" size="2" maxlength="2">:<input type="text" name="birthday_minute" value="{{ person.birthday | date('i') }}" size="2" maxlength="2"></td>
			{% else %}
				<td valign="top"><input type="text" name="birthday_year" value="" size="4" maxlength="4">-<input type="text" name="birthday_month" value="" size="2" maxlength="2">-<input type="text" name="birthday_day" value="" size="2" maxlength="2"> <input type="text" name="birthday_hour" size="2" maxlength="2">:<input type="text" name="birthday_minute" size="2" maxlength="2"></td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">First Met At</td>
			{% if person.first_met_at %}
				<td valign="top"><input type="text" name="first_met_at_year" value="{{ person.first_met_at | date('Y') }}" size="4" maxlength="4">-<input type="text" name="first_met_at_month" value="{{ person.first_met_at | date('m') }}" size="2" maxlength="2">-<input type="text" name="first_met_at_day" value="{{ person.first_met_at | date('d') }}" size="2" maxlength="2"></td>
			{% else %}
				<td valign="top"><input type="text" name="first_met_at_year" value="" size="4" maxlength="4">-<input type="text" name="first_met_at_month" value="" size="2" maxlength="2">-<input type="text" name="first_met_at_day" value="" size="2" maxlength="2"></td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Deceased At</td>
			{% if person.deceased_at %}
				<td valign="top"><input type="text" name="deceased_at_year" value="{{ person.deceased_at | date('Y') }}" size="4" maxlength="4">-<input type="text" name="deceased_at_month" value="{{ person.deceased_at | date('m') }}" size="2" maxlength="2">-<input type="text" name="deceased_at_day" value="{{ person.deceased_at | date('d') }}" size="2" maxlength="2"></td>
			{% else %}
				<td valign="top"><input type="text" name="deceased_at_year" value="" size="4" maxlength="4">-<input type="text" name="deceased_at_month" value="" size="2" maxlength="2">-<input type="text" name="deceased_at_day" value="" size="2" maxlength="2"></td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Facebook ID</td>
			<td valign="top"><input type="text" name="facebook_id" value="{{ person.facebook_id }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">Facebook URL</td>
			<td valign="top"><input type="text" name="facebook_url" value="{{ person.facebook_url }}" size="50" maxlength="1024"></td>
		</tr>
		<tr>
			<td valign="top">Blood Type</td>
			<td valign="top">
				<select name="blood_type">
					<option value="null">--- None ---</option>
					{% for id, name in groupTypes %}
						<option value="{{ id }}"{% if id == 'g' ~ person.blood_type %} selected="selected"{% endif %}>{{ name }}</option>
					{% endfor %}
				</select>
				
				RhD:
				<select name="blood_type_rhd">
					<option value="0">--- None ---</option>
					{% for id, name in rhdTypes %}
						<option value="{{ id }}"{% if id == 't' ~ person.blood_type_rhd %} selected="selected"{% endif %}>{{ name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td valign="top">Default Event Type</td>
			<td valign="top">
				<select name="default_event_type">
					{% for id, name in eventTypes %}
						<option value="{{ id }}"{% if id == person.default_event_type %} selected="selected"{% endif %}>[{{ id }}] {{ name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		
		<tr>
			<td valign="top">Comment</td>
			<td valign="top"><textarea name="comment" rows="10" cols="30">{{ person.comment }}</textarea></td>
		</tr>
		
		<tr><td colspan="2"><input type="submit" value="Save" class="submit"></td></tr>
	</table>
</form>
