
{% extends 'base.twig' %}

{% block title %}List - {% endblock %}

{% block body %}
	<h2>List</h2>
	<p>{{ persons | length }} persons total.</p>
	
	<table border="1" cellspacing="1" cellpadding="1">
		<thead>
			<tr>
				<td>Last Name</td>
				<td>First Name</td>
				<td>Middle Name</td>
				<td>Birthday</td>
				<td>First Met</td>
				<td align="right">Days</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</thead>
		{% for person in persons %}
			<tr>
				<td class="content">{{ person.last_name }}</td>
				<td class="content">{{ person.first_name }}</td>
				<td class="content">{{ person.middle_name }}</td>
				<td class="content">{% if person.birthday %}{{ person.birthday | date('Y-m-d') }}{% endif %}</td>
				<td class="content">{% if person.first_met_at %}{{ person.first_met_at | date('Y-m-d') }}{% endif %}</td>
				<td align="right" bgcolor="{{ person.diff_color }}">{{ person.diff }}</td>
				<td><a href="{{ route('person.show', person.id) }}">show</a></td>
				<td><a href="{{ route('person.edit', person.id) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td colspan="8">No Persons.</td></tr>
		{% endfor %}
	</table>
	
{% endblock %}
