
<form action="{{ route }}" method="post">
	<input type="hidden" name="_token" value="{{ csrf_token() }}">
	<input type="hidden" name="attempt" value="{{ attempt }}" size="1" maxlength="1">
	
	<table border="1" cellspacing="1" cellpadding="1">
		<tr><td colspan="2"><input type="submit" value="Save" class="submit"></td></tr>
		
		<tr>
			<td valign="top" class="firstColumn">Last Name</td>
			<td valign="top"><input type="text" name="last_name" value="{{ person.last_name }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">First Name</td>
			<td valign="top"><input type="text" name="first_name" value="{{ person.first_name }}" size="50" maxlength="255"></td>
		</tr>
		<tr>
			<td valign="top">Gender</td>
			<td valign="top">
				<select name="gender">
					<option value="n">--- None ---</option>
					<option value="m"{% if person.gender == 'm' %} selected="selected"{% endif %}>&#9794; Male</option>
					<option value="f"{% if person.gender == 'f' %} selected="selected"{% endif %}>&#9792; Female</option>
				</select>
			</td>
		</tr>
		<tr>
			<td valign="top">First Met At</td>
			{% if person.first_met_at %}
				<td><input type="date" name="first_met_at_date" value="{{ person.first_met_at | date('Y-m-d') }}">
			{% else %}
				<td><input type="date" name="first_met_at_date" value=""></td>
			{% endif %}
		</tr>
		
		<tr>
			<td valign="top">Comment</td>
			<td valign="top"><textarea name="comment" rows="10" cols="30">{{ person.comment }}</textarea></td>
		</tr>
		
		<tr><td colspan="2"><input type="submit" value="Save" class="submit"></td></tr>
	</table>
</form>
