
{% extends 'base.twig' %}

{% block title %}Show "{{ person.last_name }} {{ person.first_name }}" - {% endblock %}

{% block body %}
	
	<h2>Show "{% if person.name %}{{ person.name }}{% else %}{{ person.last_name }} {{ person.first_name }}{% endif %}"</h2>
	
	<table border="1" cellspacing="1" cellpadding="1">
		<tr><td colspan="2">[<a href="{{ route('person.edit', person.id) }}">edit</a>] [<a href="{{ route('person.delete', person.id) }}">delete</a>]</td></tr>
		
		<tr>
			<td valign="top" class="firstColumn">ID</td>
			<td valign="top">{{ person.id }}</td>
		</tr>
		<tr>
			<td valign="top">Last Name</td>
			<td valign="top" class="content">{{ person.last_name }}</td>
		</tr>
		<tr>
			<td valign="top">Birth Last Name</td>
			<td valign="top" class="content">{{ person.last_name_born }}</td>
		</tr>
		<tr>
			<td valign="top">Middle Name</td>
			{% if person.middle_name %}
				<td valign="top" class="content">{{ person.middle_name }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">First Name</td>
			<td valign="top" class="content">{{ person.first_name }}</td>
		</tr>
		<tr>
			<td valign="top">Nick Name</td>
			{% if person.nick_name %}
				<td valign="top" class="content">{{ person.nick_name }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Birthday</td>
			{% if person.birthday %}
				<td valign="top" class="content">{{ person.birthday | date('Y-m-d H:i') }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Deceased At</td>
			{% if person.deceased_at %}
				<td valign="top" class="content">{{ person.deceased_at | date('Y-m-d') }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		{% if person.deceased_at %}
			<tr>
				<td valign="top">Age at Death</td>
				<td valign="top">{{ person.ageAtDeath }}</td>
			</tr>
			<tr>
				<td valign="top">Age Today</td>
				<td valign="top">{{ person.ageToday }}</td>
			</tr>
		{% else %}
			{% if person.birthday %}
				<tr>
					<td valign="top">Age</td>
					<td valign="top">{{ person.ageToday }}</td>
				</tr>
			{% endif %}
		{% endif %}
		<tr>
			<td valign="top">First Met At</td>
			{% if person.first_met_at %}
				<td valign="top" class="content">{{ person.first_met_at | date('Y-m-d') }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Facebook ID</td>
			{% if person.facebook_id %}
				<td valign="top" class="content"><a href="https://facebook.com/{{ person.facebook_id }}">{{ person.facebook_id }}</a></td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Blood Type</td>
			{% if person.blood_type %}
				<td valign="top" class="content">{{ person.blood_type }}{% if person.blood_type_rhd_is_set %} (RhD={{ person.blood_type_rhd }}){% endif %}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Created At</td>
			{% if person.created_at %}
				<td valign="top" class="content">{{ person.created_at | date('Y-m-d H:i:s') }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Updated At</td>
			{% if person.updated_at %}
				<td valign="top" class="content">{{ person.updated_at | date('Y-m-d H:i:s') }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Comment</td>
			<td valign="top" class="content">{{ person.comment | raw }}</td>
		</tr>
	</table>
	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('body').keypress(function(event){
			console.log('keypress ' + event.which);
			if(event.which == 101){
				window.location = '{{ route('person.edit', person.id) }}';
			}
			else if(event.which == 108){
				window.location = '{{ route('person.list') }}';
			}
		});
	});
{% endblock %}
