
{% extends 'base.twig' %}

{% block title %}Show "{{ person.last_name }} {{ person.first_name }}" - {% endblock %}

{% block body %}
	
	<h2>Show "{% if person.name %}{{ person.name }}{% else %}{{ person.last_name }} {{ person.first_name }}{% endif %}"</h2>
	
	<table border="1" cellspacing="1" cellpadding="1">
		<tr><td colspan="2">[<a href="{{ route('person.edit', person.id) }}">edit</a>] [<a href="{{ route('person.delete', person.id) }}">delete</a>]</td></tr>
		
		<tr>
			<td valign="top" class="firstColumn">ID</td>
			<td valign="top" class="content">{{ person.id }}</td>
		</tr>
		<tr>
			<td valign="top">Last Name</td>
			<td valign="top" class="content">{{ person.last_name }}</td>
		</tr>
		{% if person.last_name_born %}
			<tr>
				<td valign="top">Birth Last Name</td>
				<td valign="top" class="content">{{ person.last_name_born }}</td>
			</tr>
		{% endif %}
		{% if person.middle_name %}
			<tr>
				<td valign="top">Middle Name</td>
				<td valign="top" class="content">{{ person.middle_name }}</td>
			</tr>
		{% endif %}
		{% if person.first_name %}
			<tr>
				<td valign="top">First Name</td>
				<td valign="top" class="content">{{ person.first_name }}</td>
			</tr>
		{% endif %}
		{% if person.nick_name %}
			<tr>
				<td valign="top">Nick Name</td>
				<td valign="top" class="content">{{ person.nick_name }}</td>
			</tr>
		{% endif %}
		{% if person.birthday %}
			<tr>
				<td valign="top">Birthday</td>
				<td valign="top" class="content">{{ person.birthday | date('Y-m-d H:i') }}</td>
			</tr>
		{% endif %}
		{% if person.deceased_at %}
			<tr>
				<td valign="top">Deceased At</td>
				<td valign="top" class="content">{{ person.deceased_at | date('Y-m-d') }}</td>
			</tr>
		{% endif %}
		{% if person.deceased_at %}
			<tr>
				<td valign="top">Age at Death</td>
				<td valign="top">{{ person.ageAtDeath }}</td>
			</tr>
			<tr>
				<td valign="top">Age Today</td>
				<td valign="top">{{ person.ageToday }}</td>
			</tr>
		{% else %}
			{% if person.birthday %}
				<tr>
					<td valign="top">Age</td>
					<td valign="top">{{ person.ageToday }}</td>
				</tr>
			{% endif %}
		{% endif %}
		{% if person.first_met_at %}
			<tr>
				<td valign="top">First Met At</td>
				<td valign="top" class="content">{{ person.first_met_at | date('Y-m-d') }}</td>
			</tr>
		{% endif %}
		{% if person.first_met_at_diff %}
			<tr>
				<td valign="top">Known For</td>
				<td valign="top">{{ person.first_met_at_diff }}</td>
			</tr>
		{% endif %}
		{% if person.facebook_id %}
			<tr>
				<td valign="top">Facebook ID</td>
				<td valign="top" class="content"><a href="https://facebook.com/{{ person.facebook_id }}">{{ person.facebook_id }}</a></td>
			</tr>
		{% endif %}
		{% if person.blood_type %}
			<tr>
				<td valign="top">Blood Type</td>
				<td valign="top" class="content">{{ person.blood_type }}{% if person.blood_type_rhd_is_set %} (RhD={{ person.blood_type_rhd }}){% endif %}</td>
			</tr>
		{% endif %}
		{% if person.default_event_type %}
			<tr>
				<td valign="top">Default Event Type</td>
				<td valign="top" class="content">{{ eventTypes[person.default_event_type] }}</td>
			</tr>
		{% endif %}
		<tr>
			<td valign="top">Created At</td>
			{% if person.created_at %}
				<td valign="top" class="content">{{ person.created_at | date('Y-m-d H:i:s') }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		<tr>
			<td valign="top">Updated At</td>
			{% if person.updated_at %}
				<td valign="top" class="content">{{ person.updated_at | date('Y-m-d H:i:s') }}</td>
			{% else %}
				<td>&nbsp;</td>
			{% endif %}
		</tr>
		{% if person.comment %}
			<tr>
				<td valign="top">Comment</td>
				<td valign="top" class="content">{{ person.comment | raw }}</td>
			</tr>
		{% endif %}
	</table>
	
	<h2>Events</h2>
	<form action="{{ route('person.event.store', {'id': person.id, 'fwd_back': 1}) }}" method="post">
		<input type="hidden" name="_token" value="{{ csrf_token() }}">
		<table border="1" cellspacing="1" cellpadding="1">
			<thead>
				<tr>
					<td colspan="4"><a href="{{ route('person.event.create', person.id) }}">Add</a></td>
				</tr>
				<tr>
					<td>Date</td>
					<td>Type</td>
					<td>Comment</td>
					<td>&nbsp;</td>
				</tr>
			</thead>
			<tr>
				<td><input type="text" name="happened_at_year" value="{{ 'now' | date('Y') }}" size="4">-<input type="text" name="happened_at_month" value="{{ 'now' | date('m') }}" size="2">-<input type="text" name="happened_at_day" value="{{ 'now' | date('d') }}" size="2"> <input type="text" name="happened_at_hour" value="00" size="2">:<input type="text" name="happened_at_minute" value="00" size="2"></td>
				<td>
					<select name="type">
						{% for id, name in eventTypes %}
							<option value="{{ id }}"{% if id == person.default_event_type %} selected="selected"{% endif %}>[{{ id }}] {{ name }}</option>
						{% endfor %}
					</select>
				</td>
				<td><input type="text" name="comment" size="30" id="newEventComment"></td>
				<td><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
	
	<span>&nbsp;</span>
	
	<table border="1" cellspacing="1" cellpadding="1">
		<thead>
			<tr>
				<td colspan="7"><a href="{{ route('person.show', {'id': person.id, 'all_events': 1}) }}">All Events</a></td>
			</tr>
			<tr>
				<td>ID</td>
				<td>Date</td>
				<td>Type</td>
				<td>Title</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</thead>
		{% for event in events %}
			<tr>
				<td valign="top" class="content">{{ event.id }}</td>
				<td valign="top" class="content">{% if event.hc_date %}{{ event.hc_date | date('Y-m-d') }}{% else %}&nbsp;{% endif %}</td>
				<td valign="top" class="content">{{ eventTypes[event.type] }}</td>
				<td valign="top" class="content">{{ event.title }}</td>
				<td valign="top"><a href="{{ route('person.event.show', event.id) }}">show</a></td>
				<td valign="top"><a href="{{ route('person.event.edit', event.id) }}">edit</a></td>
				<td valign="top"><a href="{{ route('person.event.delete', event.id) }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('#newEventComment').focus();
	});
{% endblock %}
