{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

<table border="1">
    <tr>
        <td colspan="2">
            <input type="submit" value="{{ button_label | default('SAVE') }}" />
            {% if event.id %}
                <button onclick="location.href='{{ path('thefox_persons_frontend_event_show', {'id': event.id}) }}'" type="button">SHOW</button>
            {% endif %}
        </td>
    </tr>

    {{ form_widget(form) }}

    <tr>
        <td colspan="2"><input type="submit" value="{{ button_label | default('SAVE') }}" /></td>
    </tr>
</table>
