
{% extends 'base.twig' %}

{% block title %}Edit Event {{ event.id }} - {% endblock %}

{% block body %}
	
	<h2>Edit Event {{ event.id }} - "{% if person.name %}{{ person.name }}{% else %}{{ person.last_name }} {{ person.first_name }}{% endif %}"</h2>
	
	{% include 'errors.form-list.twig' %}
	
	{% include 'person.event.fields.twig' with {'route': route('person.event.update', event.id)} %}
	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('input[type=text]:first').focus();
	});
{% endblock %}
