
{% extends 'base.twig' %}

{% block title %}Show Event - {% endblock %}

{% block body %}
	
	<h2>Show Event {{ event.id }} - "{% if person.name %}{{ person.name }}{% else %}{{ person.last_name }} {{ person.first_name }}{% endif %}"</h2>
	
	<table border="1" cellspacing="1" cellpadding="1">
		<tr><td colspan="2">[<a href="{{ route('person.show', person.id) }}">show person</a>] [<a href="{{ route('person.event.edit', event.id) }}">edit</a>] [<a href="{{ route('person.event.delete', event.id) }}">delete</a>]</td></tr>
		
		<tr>
			<td valign="top" class="firstColumn">ID</td>
			<td valign="top">{{ event.id }}</td>
		</tr>
		<tr>
			<td valign="top" class="firstColumn">Person</td>
			<td valign="top"><a href="{{ route('person.show', person.id) }}">{{ person.last_name }} {{ person.first_name }}</a> (ID={{ person.id }})</td>
		</tr>
		<tr>
			<td valign="top">Happened At</td>
			<td valign="top" class="content">{{ event.happened_at | date('Y-m-d H:i') }}</td>
		</tr>
		{% if event.type %}
			<tr>
				<td valign="top">Type</td>
				<td valign="top" class="content">{{ eventTypes[event.type] }}</td>
			</tr>
		{% endif %}
		{% if event.title %}
			<tr>
				<td valign="top">Title</td>
				<td valign="top" class="content">{{ event.title }}</td>
			</tr>
		{% endif %}
		{% if event.comment %}
			<tr>
				<td valign="top">Comment</td>
				<td valign="top" class="content">{{ event.comment | raw }}</td>
			</tr>
		{% endif %}
		<tr>
			<td valign="top">Created At</td>
			<td valign="top" class="content">{{ event.created_at | date('Y-m-d H:i:s') }}</td>
		</tr>
		<tr>
			<td valign="top">Updated At</td>
			<td valign="top" class="content">{{ event.updated_at | date('Y-m-d H:i:s') }}</td>
		</tr>
	</table>
	
{% endblock %}

{% block javascript %}
	$(document).ready(function(){
		$('body').keypress(function(event){
			if(event.which == 101){
				window.location = '{{ route('person.event.edit', event.id) }}';
			}
			else if(event.which == 108){
				window.location = '{{ route('person.show', person.id) }}';
			}
		});
	});
{% endblock %}
