{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Person index</h1>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>LastNameBorn</th>
                <th>MiddleName</th>
                <th>FirstName</th>
                <th>NickName</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>DeceasedAt</th>
                <th>FirstMetAt</th>
                <th>FacebookId</th>
                <th>FacebookUrl</th>
                <th>BloodType</th>
                <th>BloodTypeRhd</th>
                <th>DefaultEventType</th>
                <th>Comment</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.lastNameBorn }}</td>
                <td>{{ person.middleName }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.nickName }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.birthday ? person.birthday|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ person.deceasedAt ? person.deceasedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ person.firstMetAt ? person.firstMetAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ person.facebookId }}</td>
                <td>{{ person.facebookUrl }}</td>
                <td>{{ person.bloodType }}</td>
                <td>{{ person.bloodTypeRhd }}</td>
                <td>{{ person.defaultEventType }}</td>
                <td>{{ person.comment }}</td>
                <td>{{ person.createdAt ? person.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ person.updatedAt ? person.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ person.deletedAt ? person.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {#<a href="{{ path('person_show', {'id': person.id}) }}">show</a>#}
                    {#<a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('person_new') }}">Create new</a>#}
{% endblock %}
