<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css" />

    <title>{% block title %}Base{% endblock %}{{ app_name }} {{ app_version }}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>

{% if app.debug %}<h1><span style="color: #ff0000;">DEBUG</span></h1>{% endif %}

<table>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <tr>
            <td><button onclick="location.href='{{ path('thefox_persons_frontend_index') }}'" type="button">Home</button></td>
            <td><button onclick="location.href='{{ path('fos_user_security_logout') }}'" type="button">Logout</button> [{{ app.user }}]</td>
        </tr>
        <tr>
            <td colspan="2"><button onclick="location.href='{{ path('thefox_persons_frontend_person_list') }}'" type="button">Persons</button></td>
        </tr>
    {% else %}
        <tr>
            <td><button onclick="location.href='{{ path('fos_user_security_login') }}'" type="button">Login</button></td>
            <td><button onclick="location.href='{{ path('thefox_persons_frontend_index') }}'" type="button">Home</button></td>
        </tr>
    {% endif %}
</table>

{% set app_flashes = app.flashes %}
{% if app_flashes | length > 0 %}
    <ul>
        {% for label, messages in app_flashes %}
            {% for message in messages %}
                <li>{{ label }}: {{ message }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% block body %}Base{% endblock %}

<p><a href="https://github.com/TheFox/persons">{{ app_name }}</a> v{{ app_version }} | PHP v{{ constant('PHP_VERSION') }} | Twig v{{ constant('Twig_Environment::VERSION') }}</p>

{% block javascripts %}{% endblock %}

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
