<thead>
<tr>
    <td colspan="7"><b>{{ title | trans }} DYN</b></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ 'person.id' | trans({}, 'entity') }}</td>
    <td>{{ 'person.name' | trans({}, 'entity') }}</td>
    <td>{{ 'person.birthday' | trans({}, 'entity') }}</td>
    <td>{{ 'common.age' | trans }}</td>
    <td>&nbsp;</td>
</tr>
</thead>
